<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854165679222-grglidg8r3jrvlvet69225n8q6uh61oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854165679222-grglidg8r3jrvlvet69225n8q6uh61oo</string>
	<key>API_KEY</key>
	<string>AIzaSyC1IdY5szgLk7O204P9RywpXc-p4DbzqAk</string>
	<key>GCM_SENDER_ID</key>
	<string>854165679222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.discussions</string>
	<key>PROJECT_ID</key>
	<string>discussions-4f196</string>
	<key>STORAGE_BUCKET</key>
	<string>discussions-4f196.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854165679222:ios:dcc5b811d1b30040d44357</string>
</dict>
</plist>